<html>

  <head>

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

  <!-- Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <!-- Controller -->
  <script src="js/activation_controller.js"></script>

  </head>
  <body ng-app="mainApp" ng-controller="main_controller">

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="index.html" class="brand-logo">UniSecrets</a>
          <ul class="right  ">
            <li><a href="index.html">Landing</a></li>
          </ul>
        </div>
      </nav>
    </div>


    <div class="container">

      <h2>Activate your account below</h2>
      <h3>Please check your email for the activation code (including spam directory)</h3>

      <div class="row">
        <div class="col s6">
          <form>
            <label>E-mail: <input ng-model="email" type="email"/></label><br />
            <label>Activation code: <input ng-model="code" type="text"/></label><br />
            <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="submit()">Send
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
      </div>


    </div>

  </body>
</html>
