<html>

  <head>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- Controller -->
    <script src="js/login_controller.js"></script>

  </head>

  <body ng-app="mainApp" ng-controller="main_controller">

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">UniSecrets</a>
          <ul class="right  ">
            <li><a href="index.html">Landing</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
      <h1>Welcome to UniSecrets!</h1>

      <!-- <button ng-click="registration_redirect">Please register to continue</button> -->
      <a href="registration.html">Please register to continue</a>
      <br>
      <!-- <button ng-click="signin_redirect">Already have an account? Sign in.</button> -->
      <a href="login.html">Already have an account? Sign in.</a>
      <br>
      <a href="dashboard.html">Dashboard Link</a>

    </div>

  </body>
</html>
