<html>

  <head>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- Controller -->
    <script src="js/new_post_controller.js"></script>

  </head>

  <body ng-app="mainApp" ng-controller="main_controller">

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="index.html" class="brand-logo">UniSecrets</a>
          <ul class="right  ">
            <li><a href="index.html">Landing</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">

      <h2>Tell us, tell us everything!</h2>

      <div class="row">
        <div class="col s12">
          <form>
            <div class="switch">
              <label>
                Private (just your university)
                <input ng-model="is_public" type="checkbox">
                <span class="lever"></span>
                Public (every university)
              </label>
            </div>

            <br>

            <label> Tell us your secret! <textarea ng-model="text" class="materialize-textarea"></textarea></label>

            <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="post()">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
