<html>

  <head>

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

  <!-- Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <!-- Controller -->
  <script src="js/registration_controller.js"></script>

  </head>
  <body ng-app="mainApp" ng-controller="main_controller">

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="index.html" class="brand-logo">UniSecrets</a>
          <ul class="right  ">
            <li><a href="index.html">Landing</a></li>
          </ul>
        </div>
      </nav>
    </div>


    <div class="container">
    
        <div class="row" ng-show="show_add_college">
            <div class="col s6">
                <h2>Sorry, we didn't recognize your college email</h2>
                <p>Would you like to let us know about your college?</p>
                <form>
                    <label>College name: <input ng-model="collegename" type="text"/></label><br />
                    <label>Your email: <input ng-model="email" type="email"/></label><br />
                    <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="add_college()">Send
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>

      <h2>Create your account below</h2>

      <div class="row">
        <div class="col s6">
          <form>
            <label>E-mail: <input ng-model="email" type="email"/></label><br />
            <label>Nickname (This is the name that shows up when you comment, all posters are anonymous): <input ng-model="nickname" type="text"/></label><br />
            <label>Password: <input ng-model="password1" type="password"/></label><br />
            <label>Confirm your password: <input ng-model="password2" type="password" /></label><br />
            <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="sign_up()">Sign up
             <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
      </div>
      


    </div>

  </body>
</html>
